<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="footer-container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
        <p class="footer-text">Made by Luka Bitsadze</p>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
        <p class="footer-text">Crocobet Internship</p>
      </div>
    </div>
  </div>

</body>

</html>